@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Patrick+Hand&display=swap");

:root {
  --text-color: #000000;
  --primary-color: #4a70a9;
  --secondary-color: #8fabd4;
  --backgorund-color: #efece3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
  padding-top: 5rem;
  letter-spacing: 3px;
}

/* navigation bar */
nav {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
  z-index: 9999;
  width: 100%;
  height: 5rem;
  position: fixed;
  border-bottom: solid 3px var(--secondary-color);
  font-family: "inter";
  color: var(--backgorund-color);
}

#menu {
  display: none;
}

.profile-content {
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-template-areas:
    "avatar username"
    "avatar position";
  gap: 0.75rem;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

#profile-picture {
  grid-area: avatar;
}

#profile-username {
  grid-area: username;
}

#profile-position {
  grid-area: position;
}

#profile-picture i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--backgorund-color);
  font-size: 3rem;
  cursor: pointer;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: "patrick hand";
  color: #efece3;
}

#date {
  margin: 1rem;
  padding: 0.5rem;
  border: solid 3px var(--secondary-color);
  border-radius: 10px;
}

.todo-list-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: solid 3px var(--secondary-color);
  border-radius: 10px;
}

/* responsive for mobile */
@media (max-width: 640px) {
  html {
    font-size: 75%;
  }
  nav {
    padding: 1rem;
  }
  #menu {
    display: flex;
    font-size: 2rem;
    cursor: pointer;
  }
}
